# PowerShare
on boot
    chown system system /sys/devices/platform/soc/c440000.qcom,spmi/spmi-0/spmi0-02/c440000.qcom,spmi:qcom,pm8150b@2:qcom,qpnp-smb5/power_supply/wireless/reverse_chg_mode

# FOD
on property:ro.boot.hwlevel=P0.1
    setprop vendor.lineage.fod.position_x 449
    setprop vendor.lineage.fod.position_y 1825

on property:ro.boot.hwlevel=P1
    setprop vendor.lineage.fod.position_x 449
    setprop vendor.lineage.fod.position_y 1825

on property:ro.boot.hwlevel=*
    setprop vendor.lineage.fod.enable true
